#### DATA WRANGLING ON FOOTBALL DATA-SET

In [1]:
import pandas as pd
import numpy as np

In [2]:
 df=pd.read_csv("Muskets_teamData_V2.csv")
df.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_6376\1638052573.py:1: DtypeWarning: Columns (26,29,76) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("Muskets_teamData_V2.csv")

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93.0,93.0,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85.0,92.0,91.0,95.0,38.0,65.0,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92.0,92.0,\n\n\n\nJuventus,...,High,Low,5 ★,89.0,93.0,81.0,89.0,35.0,77.0,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91.0,93.0,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87.0,92.0,78.0,90.0,52.0,90.0,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91.0,91.0,\n\n\n\nManchester City,...,High,High,4 ★,76.0,86.0,93.0,88.0,64.0,78.0,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91.0,91.0,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91.0,85.0,86.0,94.0,36.0,59.0,595

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19021 entries, 0 to 19020
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19021 non-null  int64
 1   Name              19021 non-null  object
 2   LongName          19021 non-null  object
 3   photoUrl          19021 non-null  object
 4   playerUrl         19021 non-null  object
 5   Nationality       19021 non-null  object
 6   Age               19021 non-null  int64
 7   ↓OVA              19019 non-null  float64
 8   POT               19020 non-null  float64
 9   Club              19021 non-null  object
 10  Contract          19021 non-null  object
 11  Positions         19021 non-null  object
 12  Height            19021 non-null  object
 13  Weight            19020 non-null  object
 14  Preferred Foot    19021 non-null  object
 15  BOV               19021 non-null  int64
 16  Best Position     19021 non-null  object
 17  Joined            19021 non-null  object
 18  Loan Date End     1015 non-null   object
 19  Value             19021 non-null  object
 20  Wage              19021 non-null  object
 21  Release Clause    19018 non-null  object
 22  Attacking         19020 non-null  float64
 23  Crossing          19020 non-null  float64
 24  Finishing         19016 non-null  float64
 25  Heading Accuracy  19013 non-null  float64
 26  Short Passing     19012 non-null  object
 27  Volleys           19014 non-null  float64
 28  Skill             19015 non-null  float64
 29  Dribbling         19020 non-null  object
 30  Curve             19013 non-null  float64
 31  FK Accuracy       19015 non-null  float64
 32  Long Passing      19018 non-null  float64
 33  Ball Control      19018 non-null  float64
 34  Movement          19016 non-null  float64
 35  Acceleration      19017 non-null  float64
 36  Sprint Speed      19018 non-null  float64
 37  Agility           19019 non-null  float64
 38  Reactions         19017 non-null  float64
 39  Balance           19014 non-null  float64
 40  Power             19020 non-null  float64
 41  Shot Power        19019 non-null  float64
 42  Jumping           19017 non-null  float64
 43  Stamina           19020 non-null  float64
 44  Strength          19016 non-null  float64
 45  Long Shots        19014 non-null  float64
 46  Mentality         19015 non-null  float64
 47  Aggression        19021 non-null  int64
 48  Interceptions     19017 non-null  float64
 49  Positioning       19020 non-null  float64
 50  Vision            19021 non-null  int64
 51  Penalties         19020 non-null  float64
 52  Composure         19020 non-null  float64
 53  Defending         19020 non-null  float64
 54  Marking           19019 non-null  float64
 55  Standing Tackle   19018 non-null  float64
 56  Sliding Tackle    19020 non-null  float64
 57  Goalkeeping       19018 non-null  float64
 58  GK Diving         19020 non-null  float64
 59  GK Handling       19020 non-null  float64
 60  GK Kicking        19019 non-null  float64
 61  GK Positioning    19019 non-null  float64
 62  GK Reflexes       19021 non-null  int64
 63  Total Stats       19020 non-null  float64
 64  Base Stats        19021 non-null  int64
 65  W/F               19021 non-null  object
 66  SM                19021 non-null  object
 67  A/W               19021 non-null  object
 68  D/W               19020 non-null  object
 69  IR                19021 non-null  object
 70  PAC               19018 non-null  float64
 71  SHO               19018 non-null  float64
 72  PAS               19016 non-null  float64
 73  DRI               19019 non-null  float64
 74  DEF               19016 non-null  float64
 75  PHY               19020 non-null  float64
 76  Hits              16426 non-null  object
dtypes: float64(45), int64(7), object(25)
memory usage: 11.2+ MB

#### HANDLING MISSING VALUES

In [4]:
df.isnull().sum()

ID              0
Name            0
LongName        0
photoUrl        0
playerUrl       0
             ...
PAS             5
DRI             2
DEF             5
PHY             1
Hits         2595
Length: 77, dtype: int64

REPLACING THE MISSING VALUES WITH THE MEAN

In [5]:
df['PAS'].mean()
df['DEF'].mean()
df['PAS']=df['PAS'].fillna(df['PAS'].mean())
df['DEF']=df['DEF'].fillna(df['DEF'].mean())

In [6]:
df['DRI'].mean()

62.86902571113097

In [7]:
df['DRI']=df['DRI'].fillna(df['DRI'].mean())
df['DRI']

0        95.0
1        89.0
2        90.0
3        88.0
4        94.0
         ...
19016    38.0
19017    49.0
19018    46.0
19019    49.0
19020    42.0
Name: DRI, Length: 19021, dtype: float64

In [8]:
df['PHY'].mean()

64.35983175604626

In [9]:
df['PHY']=df['PHY'].fillna(df['PHY'].mean())

In [10]:
df['Hits']=df['Hits'].astype(str)
df['Hits'] = df['Hits'].str.replace('[€MK]', '').astype(float)
df['Hits']=df['Hits'].fillna(df['Hits'].mean())
df['Hits']

C:\Users\HP\AppData\Local\Temp\ipykernel_6376\270897046.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Hits'] = df['Hits'].str.replace('[€MK]', '').astype(float)

0        771.000000
1        562.000000
2        150.000000
3        207.000000
4        595.000000
            ...
19016     22.759041
19017     22.759041
19018     22.759041
19019     22.759041
19020     22.759041
Name: Hits, Length: 19021, dtype: float64

#### coverting Height,W/F,SM AND IR to integers

In [11]:
df['Weight']

0        72kg
1        83kg
2        87kg
3        70kg
4        68kg
         ...
19016    66kg
19017    65kg
19018    74kg
19019    69kg
19020    75kg
Name: Weight, Length: 19021, dtype: object

CONVERTING THE  OBJECT FEATURES TO INTEGER D-TYPE

In [12]:
df['Weight']= df['Weight'].astype(str)
df['Weight']= df['Weight'].str.replace('kg', '')
df['Weight']=pd.to_numeric(df['Weight'], errors='coerce').astype('Int64')
df['Weight'].unique

<bound method Series.unique of 0        72
1        83
2        87
3        70
4        68
         ..
19016    66
19017    65
19018    74
19019    69
19020    75
Name: Weight, Length: 19021, dtype: Int64>

In [13]:
df['SM']

0        4★
1        5★
2        1★
3        4★
4        5★
         ..
19016    2★
19017    2★
19018    2★
19019    2★
19020    2★
Name: SM, Length: 19021, dtype: object

In [14]:

df['SM'] = df['SM'].str.replace('[*#★]', '', regex=True)
df['SM'] = pd.to_numeric(df['SM'], errors='coerce').astype('Int64')
df['SM']

0        4
1        5
2        1
3        4
4        5
        ..
19016    2
19017    2
19018    2
19019    2
19020    2
Name: SM, Length: 19021, dtype: Int64

In [15]:

df['W/F'] = df['W/F'].str.replace('[*#★]', '', regex=True)
df['W/F'] = pd.to_numeric(df['W/F'], errors='coerce').astype('Int64')
df['W/F']

0        4
1        4
2        3
3        5
4        5
        ..
19016    2
19017    2
19018    2
19019    3
19020    3
Name: W/F, Length: 19021, dtype: Int64

In [16]:
df.isnull().sum()

ID           0
Name         0
LongName     0
photoUrl     0
playerUrl    0
            ..
PAS          0
DRI          0
DEF          0
PHY          0
Hits         0
Length: 77, dtype: int64


#### question 1 CREATING NEW COLUMN BY EXTRACTING PLAYERNAMES FROM THEIR URLS

In [17]:
 df['playerUrl'][0]

'http://sofifa.com/player/158023/lionel-messi/210006/'

In [18]:
urls=df['playerUrl']
names= urls.str.split('/').str[-3].str.split('?').str[0].str.replace('-', ' ')
namess=names.tolist()


data_ply= pd.DataFrame({'PlayerNames': namess})
print(data_ply)

                       PlayerNames
0                     lionel messi
1      c ronaldo dos santos aveiro
2                        jan oblak
3                  kevin de bruyne
4        neymar da silva santos jr
...                            ...
19016                       ao xia
19017                    ben hough
19018               ronan mckinley
19019                  zhenao wang
19020                    xiao zhou

[19021 rows x 1 columns]

In [19]:
df['PlayerNames']=data_ply
df

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,PlayerNames
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93.0,93.0,\n\n\n\nFC Barcelona,...,Low,5 ★,85.0,92.0,91.0,95.0,38.0,65.0,771.000000,lionel messi
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92.0,92.0,\n\n\n\nJuventus,...,Low,5 ★,89.0,93.0,81.0,89.0,35.0,77.0,562.000000,c ronaldo dos santos aveiro
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91.0,93.0,\n\n\n\nAtlético Madrid,...,Medium,3 ★,87.0,92.0,78.0,90.0,52.0,90.0,150.000000,jan oblak
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91.0,91.0,\n\n\n\nManchester City,...,High,4 ★,76.0,86.0,93.0,88.0,64.0,78.0,207.000000,kevin de bruyne
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91.0,91.0,\n\n\n\nParis Saint-Germain,...,Medium,5 ★,91.0,85.0,86.0,94.0,36.0,59.0,595.000000,neymar da silva santos jr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19016,247223,Xia Ao,Ao Xia,https://cdn.sofifa.com/players/247/223/21_60.png,http://sofifa.com/player/247223/ao-xia/210006/,China PR,21,47.0,55.0,\n\n\n\nWuhan Zall,...,Medium,1 ★,64.0,28.0,26.0,38.0,48.0,51.0,22.759041,ao xia
19017,258760,B. Hough,Ben Hough,https://cdn.sofifa.com/players/258/760/21_60.png,http://sofifa.com/player/258760/ben-hough/210006/,England,17,47.0,67.0,\n\n\n\nOldham Athletic,...,Medium,1 ★,64.0,40.0,48.0,49.0,35.0,45.0,22.759041,ben hough
19018,252757,R. McKinley,Ronan McKinley,https://cdn.sofifa.com/players/252/757/21_60.png,http://sofifa.com/player/252757/ronan-mckinley...,England,18,47.0,65.0,\n\n\n\nDerry City,...,Medium,1 ★,63.0,39.0,44.0,46.0,40.0,53.0,22.759041,ronan mckinley
19019,243790,Wang Zhen'ao,Zhen'ao Wang,https://cdn.sofifa.com/players/243/790/21_60.png,http://sofifa.com/player/243790/zhenao-wang/21...,China PR,20,47.0,57.0,\n\n\n\nDalian YiFang FC,...,Medium,1 ★,58.0,49.0,41.0,49.0,30.0,44.0,22.759041,zhenao wang
19020,252520,Zhou Xiao,Xiao Zhou,https://cdn.sofifa.com/players/252/520/21_60.png,http://sofifa.com/player/252520/xiao-zhou/210006/,China PR,21,47.0,57.0,\n\n\n\nDalian YiFang FC,...,Medium,1 ★,62.0,22.0,39.0,42.0,45.0,55.0,22.759041,xiao zhou

#### question 2: creating a new column titled PlayerStatus from contact with 3labels

In [20]:
conditions = [
    df['Contract'] == 'Active',
    df['Contract']== 'Free',
    df['Contract'] == 'On Loan'
]

labels = ['Active', 'Free', 'On Loan']

# Using numpy.select to assign the appropriate label based on the conditions
df['Player Status'] = np.select(conditions, labels, default='Unknown')

#### question3: unpack the position column

In [21]:
df['Positions'].values

array(['RW, ST, CF', 'ST, LW', 'GK', ..., 'CM', 'RW', 'CB, LB'],
      dtype=object)

In [22]:
pd.get_dummies(df['Positions'], drop_first=True)

,"CAM, CDM","CAM, CDM, CM","CAM, CDM, LM","CAM, CF","CAM, CF, CM","CAM, CF, LM","CAM, CF, RM","CAM, CF, RW","CAM, CF, ST","CAM, CM",...,"ST, RM, RW","ST, RM, RWB","ST, RW","ST, RW, CAM","ST, RW, CF","ST, RW, CM","ST, RW, LM","ST, RW, LW","ST, RW, RM","ST, RWB"
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19017,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19018,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19019,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

play_postion= pd.get_dummies(df['Positions'], drop_first= True)
play_postion.head()

In [23]:
df['Contract'].unique

<bound method Series.unique of 0        2004 ~ 2021
1        2018 ~ 2022
2        2014 ~ 2023
3        2015 ~ 2023
4        2017 ~ 2022
            ...
19016    2018 ~ 2022
19017    2020 ~ 2021
19018    2019 ~ 2020
19019    2020 ~ 2022
19020    2019 ~ 2023
Name: Contract, Length: 19021, dtype: object>

In [24]:
df['Value']

0        €103.5M
1           €63M
2          €120M
3          €129M
4          €132M
          ...
19016      €100K
19017      €130K
19018      €120K
19019      €100K
19020      €100K
Name: Value, Length: 19021, dtype: object

#### question5: converting Value, Wage, Release Clause column to float

In [25]:
df['Value']= df['Value'].astype(str)
df['Value'] = df['Value'].str.replace('[€MK]', '').astype(float)
df['Value'].head()

C:\Users\HP\AppData\Local\Temp\ipykernel_6376\7458194.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Value'] = df['Value'].str.replace('[€MK]', '').astype(float)

0    103.5
1     63.0
2    120.0
3    129.0
4    132.0
Name: Value, dtype: float64

In [26]:

df['Value']

0        103.5
1         63.0
2        120.0
3        129.0
4        132.0
         ...
19016    100.0
19017    130.0
19018    120.0
19019    100.0
19020    100.0
Name: Value, Length: 19021, dtype: float64

In [27]:
df['Wage']= df['Wage'].astype(str)
df['Wage'] = df['Wage'].str.replace('[€MK]', '').astype(float)
df['Wage'].head()

C:\Users\HP\AppData\Local\Temp\ipykernel_6376\393670110.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Wage'] = df['Wage'].str.replace('[€MK]', '').astype(float)

0    560.0
1    220.0
2    125.0
3    370.0
4    270.0
Name: Wage, dtype: float64

In [42]:
df['Release Clause']= df['Release Clause'].astype(str)
df['Release Clause'] = df['Release Clause'].str.replace('[€MK]', '').astype(float)
# df['Release Clause'] = pd.to_numeric(df['Release Clause'], errors='coerce').astype(float)
df['Release Clause'].head()

C:\Users\HP\AppData\Local\Temp\ipykernel_6376\1440375008.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Release Clause'] = df['Release Clause'].str.replace('[€MK]', '').astype(float)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Release Clause, dtype: float64

In [29]:
df['Hits']

0        771.000000
1        562.000000
2        150.000000
3        207.000000
4        595.000000
            ...
19016     22.759041
19017     22.759041
19018     22.759041
19019     22.759041
19020     22.759041
Name: Hits, Length: 19021, dtype: float64

In [30]:
df['Hits']=df['Hits'].astype(str)
df['Hits'] = df['Hits'].str.replace('[€MK]', '').astype(float)
df['Hits'].head()

C:\Users\HP\AppData\Local\Temp\ipykernel_6376\517238959.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Hits'] = df['Hits'].str.replace('[€MK]', '').astype(float)

0    771.0
1    562.0
2    150.0
3    207.0
4    595.0
Name: Hits, dtype: float64

In [31]:
df['Height']

0        170cm
1        187cm
2        188cm
3        181cm
4        175cm
         ...
19016    178cm
19017    175cm
19018    179cm
19019    175cm
19020    188cm
Name: Height, Length: 19021, dtype: object

In [32]:
df['Height']=df['Height'].astype(str)
df['Height']=df['Height'].str.replace('cm','')
df['Height'] = pd.to_numeric(df['Height'], errors='coerce').astype('Int64')
df['Height']

0        170
1        187
2        188
3        181
4        175
        ...
19016    178
19017    175
19018    179
19019    175
19020    188
Name: Height, Length: 19021, dtype: Int64

In [33]:
# df['Release Clause'].isnull()==True
if df['Release Clause'].isnull().any():
    print("yes")
else:
    print("no")

yes

In [34]:
df['Release Clause'].isnull().sum()

3

In [35]:
df['Release Clause']=df['Release Clause'].fillna(df['Release Clause'].mode()[0], inplace=True)

#### question7: creating a categorical columnn for height, weight, release clause, Value, Wage into clusters(Buckets)

In [36]:
# height_intervals = range(df['Height'].min(), df['Height'].max() + 10, 10)
# weight_intervals = range(df['Weight'].min(), df['Weight'].max() + 10, 10)
# wage_intervals = range(int(df['Wage'].min()), int(df['Wage'].max()) + 50000, 50000)
# value_intervals = range(int(df['Value'].min()), int(df['Value'].max()) + 50000000, 50000000)

# df['Release Clause']=df['Release Clause'].astype(int)
# release_intervals = range(df['Release Clause'].min(), df['Release Clause'].max() + 50000000, 50000000)

# # Create new categorical columns
# df['Height_Category'] = pd.cut(df['Height'], bins=height_intervals, labels=False)
# df['Weight_Category'] = pd.cut(df['Weight'], bins=weight_intervals, labels=False)
# df['Wage_Category'] = pd.cut(df['Wage'], bins=wage_intervals, labels=False)
# df['Value_Category'] = pd.cut(df['Value'], bins=value_intervals, labels=False)
# df['Release_Category'] = pd.cut(df['Release Clause'], bins=release_intervals, labels=False)

In [37]:
df['Wage']=df['Wage'].astype(int)
df['Value']=df['Wage'].astype(int)
df['Release Clause']=df['Release Clause'].astype(int)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [ ]:
# Function to create bins and labels for a column
def create_bins_labels(column, step):
    min_value = column.min()
    max_value = column.max()
    bins = list(range(min_value, max_value + step, step))
    labels = [f'{b}-{b+step-1}' for b in bins[:-1]]
    return bins, labels

# Height: Bucket intervals of 10 years
height_step = 10
height_bins, height_labels = create_bins_labels(df['Height'], height_step)
df['Height_Category'] = pd.cut(df['Height'], bins=height_bins, labels=height_labels)

# Weight: Bucket intervals of 10 kg

weight_step = 10
weight_bins, weight_labels = create_bins_labels(df['Weight'], weight_step)
df['Weight_Category'] = pd.cut(df['Weight'], bins=weight_bins, labels=weight_labels)

# Wage: Bucket intervals of 50K
wage_step = 50000

wage_bins, wage_labels = create_bins_labels(df['Wage'], wage_step)
df['Wage_Category'] = pd.cut(df['Wage'].astype(int), bins=wage_bins, labels=wage_labels)

# Value: Bucket intervals of 50M
value_step = 50000000
value_bins, value_labels = create_bins_labels(df['Value'], value_step)
df['Value_Category'] = pd.cut(df['Value'].astype(int), bins=value_bins, labels=value_labels)

# Release Clause: Bucket intervals of 50M
release_clause_step = 50000000
release_clause_bins, release_clause_labels = create_bins_labels(df['Release Clause'].astype(int), release_clause_step)
df['Release_Clause_Category'] = pd.cut(df['Release Clause'].astype(int), bins=release_clause_bins, labels=release_clause_labels)

# Display the updated DataFrame
print(df)