## Movie Genre Reccomender Model

   #### IMPORTING DATASETðŸ˜Ž

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree
import joblib as jb

In [3]:
music= pd.read_csv('music.csv')

In [4]:
music

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

### training of Model  with input and output feature data

In [5]:
X=music.drop(columns=['genre']) #input
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [6]:
y= music['genre'] #Output
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

### learning and predicting 
### creating Model

In [39]:
from sklearn.tree import DecisionTreeClassifier

model= DecisionTreeClassifier()
model.fit(X.values,y)

DecisionTreeClassifier()

### Prediction

In [40]:
prediction=model.predict([[21,1], [22,0]])
prediction

array(['HipHop', 'Dance'], dtype=object)

### Calculating Accuracy

In [41]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test =train_test_split(X,y,test_size=0.2)

model= DecisionTreeClassifier()
model.fit(X_train,y_train)

prediction=model.predict(X_test)
prediction

array(['Classical', 'Dance', 'Acoustic', 'Classical'], dtype=object)

In [42]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test, prediction)
score

1.0

### Saving Model in a file for Recommendations

In [43]:
import joblib as jb

In [44]:
jb.dump(model,'music-recommender.joblib')

['music-recommender.joblib']

In [45]:
mod=jb.load('music-recommender.joblib')

prediction = model.predict([[21,1]])
prediction

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop'], dtype=object)

### Visualizing the Model

In [46]:
from sklearn import tree
tree.export_graphviz(model, out_file='music-recommender.dot', 
                     feature_names=['age', 'gender'],                
                    class_names=sorted(y.unique()),
                     label='all',
                     rounded=True,
                     filled=True)